{% spaceless %}
<div id="manageMPDModal" class="modal fade">
 <div class="modal-dialog">
<div class="modal-content">
 <div class="modal-header">
 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 class="modal-title">Manage MPD servers</h3>
 </div>
 <div class="modal-body">

 </div>
 <div class="modal-footer"></div>
</div>
</div>
</div>
{% endspaceless %}