{% spaceless %}
<a id="createMPDServerInfoBtn" class="btn btn-success" href="#">Add</a>
<ul id="mpdServerInfoList">
{% for mpdServerInfo in mpdServerInfos %}
{% include 'CogimixMPDBundle:MPDServerInfo:listItem.html.twig' %}
{% endfor %}
</ul>
{% endspaceless %}