<div class="row">
<div class="col-sm-12">
<a id="createMPDServerInfoBtn" class="btn btn-success" href="#">Add</a>
</div>
<div class="col-sm-3 mpdServerListContainer">
{% include 'CogimixMPDBundle:MPDServerInfo:list.html.twig' %}
</div>
<div id="mpdServerInfoForm" class="col-sm-9">

</div>
</div>