<div class="row">
<div class="span6">
<a id="createMPDServerInfoBtn" class="btn btn-success" href="#">Add</a>
</div>
<div class="span2 mpdServerListContainer">
{% include 'CogimixMPDBundle:MPDServerInfo:list.html.twig' %}
</div>
<div id="mpdServerInfoForm" class="span4">

</div>
</div>