{% spaceless %}
{% if playlists is not empty %}
<li>
<a data-toggle="collapse"  href="#mpd-playlist-list">
<img class="playlist-icon" src="{{ asset('bundles/cogimixmpd/images/mpd-logo.png') }}"/>
MPD</a>
</li>
<ul id="mpd-playlist-list" class="collapse out">

        {% for serverName,items in playlists %}
            {% for item in items %}
            {% include 'CogimixMPDBundle:Playlist:item.html.twig' %}
            {% endfor %}
        {% endfor %}
</ul>
{% endif %}
{% endspaceless %}